<div class="container">
<div class="jumbotron jumbotron-fluid">
          <div class="user-name">
            <h1 class="display-4"><%= user.name %></h1>
            <p class="lead">
                <%= user.email %> | <%= user._id %> 
                <a href="/users/logout" class="btn btn-warning btn-sm">Logout</a>
            </p>
            </div>
        </div>
    </div>  
    <% posts.forEach(p => { %>
    <h2>Recent Posts</h2>
    <div class="card" style="margin-bottom: 2rem">
      <div class="card-body">
        <h5 class="card-title"><%= p.title %></h5>
        <p class="card-text"><%= p.body %></p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
      <% }) %>
  </div>