<div class="container">
<div class="jumbotron jumbotron-fluid">
          <div class="user-name" style="text-align: center;">
            <h1 class="display-4"><%= user.name %></h1>
            <p class="lead">
              <%= moment(user.createdAt).fromNow()%>
              
                <%= user.email %> | <%= user._id %>
            </p>
            </div>
        </div>
    </div>  
  
    <h1>My Posts</h1>
    <% posts.forEach(p => { %>
    <div class="card" style="margin-bottom: 2rem">
      <div class="card-body">
        <h5 class="card-title"><%= p.title %></h5>
        <p class="card-text"><%= p.body %></p>
        <a href="/cities" class="btn btn-primary">See Post</a>
      </div>
    </div>
      <% }) %>
  </div>